body {
    margin: 0;
    background-image: url('https://source.unsplash.com/1600x900/?background');
    background-size: cover;
    background-position: center;
    font-family: 'Noto Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
	height: 100vh;
	padding: 10px;
	margin: 10px;
}

.row {
	display: flex;
    align-items: flex-start;
}

.columns {
	display: flex;
	align-items: flex-start;
}

.column, .adder {
	margin: 10px;
    width: 240px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.column {
    background: #f1f1f1;
    padding: 10px 15px;
}

.adder {
    background: rgba(241, 241, 241, 0.5);
    padding: 0;
    transition: all 0.2s ease;
}

.adder:hover {
	background-color: rgba(227, 242, 253, 0.7);
}

.adder span {
    display: block;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: rgb(82, 82, 82);
    margin: 0;
    padding: 15px 20px;
}

.styleContainerNode{
    padding: 5px 0;
}

.column-header {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: rgb(82, 106, 122);
    margin: 0;
    margin-bottom: 10px;
}

.column-footer span {
    font-size: 14px;
    font-weight: 400;
    color: rgb(82, 82, 82);
    margin: 0;
}

.buttonSort{
    display: block;
    border: 1px solid rgb(82, 106, 122);
    color: rgb(82, 106, 122);
    padding: 5px;
    margin:10px 0;
}

.buttonSort:focus{
    outline: none;
}

.buttonSort:hover{
    cursor: pointer;
    background: rgb(82, 106, 122);
    color: whitesmoke;
}

.note {
	cursor: default;
	width: 100%;
	background: white;
	padding: 10px;
	border: none;
	border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: 0 1px 0 0 #c9cfd4;

    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    color: rgb(82, 106, 122);

    transition: background-color 0.2s linear;
}

.note:hover {
	background-color: #e3f2fd;
    cursor: pointer;
}

.note:focus {
	cursor: auto;
}

.note textarea {
	margin: 0;
}

.note.dragged {
	opacity: 0.01;
}

.column.dragged {
	opacity: 0.4;
}

.action {
	cursor: pointer;
}

.column.under {
	margin-top: 20px;
}

.note.under {
	opacity: 0.5;
}