.container{
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}
.title{
    font-size: 30px;
    color: #0f6674;
}

#startBtn{
    border: none;
    background: #0f6674;
    color: white;
    padding: 10px 20px;
    margin: 30px 0;
}

.mole{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    background: beige;
    text-align: center;
}

.displayForDiv{
    display: none;
}

.active {
    background: lightblue;
}

.win{
    background: aquamarine;
}

.fail{
    background: darkred;
}
